# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vector store (ChromaDB persistence)
backend/vector_store/

# Test files
test/*
test/**
.test/*
.test/**
.test/**/*.pyc
.test/**/*.pyo
.test/**/*.pyd
.test/**/*.pyw
.test/**/*.pyz
.test/**/*.pywz
.test/**/*.pyz

# Backend temp 
backend/temp/*
backend/temp/**
.backend/temp/*
.backend/temp/**
.backend/temp/**/*.pyc
.backend/temp/**/*.pyo
.backend/temp/**/*.pyd
.backend/temp/**/*.pyw
.backend/temp/**/*.pyz
.backend/temp/**/*.pywz
.backend/temp/**/*.pyz

# Backend docs
backend/docs/*
backend/docs/**
.backend/docs/*
.backend/docs/**
.backend/docs/**/*.pyc
.backend/docs/**/*.pyo
.backend/docs/**/*.pyd
.backend/docs/**/*.pyw
.backend/docs/**/*.pyz
.backend/docs/**/*.pywz
.backend/docs/**/*.pyz